.section-titles {
  color: white;
  margin: 40px auto;
  font-size: 30px;
  font-width: 600;
  text-align: center;
}

tr:hover {
  background: #f1f1f1;
}

.genre-name {
  cursor: pointer;
  font-width: 200;
}

.selected {
  background: #d91147;
}

.no-movie-message {
  margin: auto;
  font-size: 28px;
}

.welcome-section {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 20%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#person-img {
  height: 400px;
  width: 300px;
  border: 5px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

#person-img:hover {
  cursor: pointer;
}

.person-pane {
  position: relative;
  background: white;
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 0 0 5px 5px;
  max-width: 300px;
}

.person-pane:hover {
  cursor: pointer;
}

.person-name {
  font-weight: 600;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-box {
  font-family: sans-serif;
  width: 100%;
  overflow: hidden;
  max-width: 300px;
 // position: relative;
  border-radius: 8px 8px 0 0;
}

