
/* Top Navigation bar */
.header h1 { //Security Console
  font-size: 50px;
}

.title {
  margin: 0 0 0 20px;
  cursor: default;
}

.topnav {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;
  //height: 50px;
 // max-height: 500px;
  //background-color: var(--gradient-blue);
  //background-image: linear-gradient(141deg, var(--main-blue) 0%, var(--gradient-blue) 90%, var(--gradient-gray) 75%);

  // background: rgb(34,72,147);
//  background: #23282d;

  //background: linear-gradient(90deg,  #33424f 0%,  #33424f 35%, rgba(63,146,178,1) 100%);
  color: var(--white);
  opacity: 0.95;
 // box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
 // border-bottom: 1px solid gray;
}

.topnav-links {
 float: right;
  display: inline;
  color: #f2f2f2;
  text-align: center;
  //padding: 0px 0 30px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-right: 3%;
//  font-family: 'Raleway', sans-serif;
  position: relative;
}

#settings-icon {
  cursor: pointer;
  margin-left: 30px;
  margin-top:12px;
  color: white !important;
}

//Settings tooltip
::ng-deep.mat-tooltip.tooltip-settings {
  font-weight: 200;
  color: var(--white);
  background-color: black;
  border-radius: 3px;
  min-width: 100px;
  max-width: 250px;
  text-align: center;
  line-height: 25px;
  height: 30px;
  font-size: 16px;
  padding-top: 3px;
  overflow: visible !important; /* NEW */
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

::ng-deep.tooltip-settings::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.mat-menu-item {
  width: 250px;
  padding: 0 30px !important;
  font-weight: 300;
  font-size: 16px;
}

.header-logo {
  height: 43px;
  width: 80px;
  //background: url('../../Images/logo.png') no-repeat center center;
  background-size: contain;
  display: inline-block;
  float: left;

}

.topnav h1 {
  margin-left: -5px;
  margin-right: 50px;
  margin-top: 15px;
}

.topnav h2 {
  //padding: 15px 30px 5px 30px;
  //margin-left: 2px;
  width: 100px;
  height: 50px;
  text-align: center;
  //  margin-right: 30px;
}




.topnav h1, h2 {
  color: var(--white);
  text-align: left;
  text-decoration: none;
  font-size: 18px;
  font-weight: 200;
  display: inline-block;
  float: left;
}


@media only screen and (min-width: 1700px) {
  ::ng-deep.tooltip-settings::after {
    left: 60%;
  }
}

@media only screen and (min-width: 1900px) {
  ::ng-deep.tooltip-settings::after {
    left: 50%;
  }
}

@media only screen and (max-width: 1300px) {
  ::ng-deep.tooltip-settings::after {
    display: none;
  }
}

::ng-deep.mat-menu-item {
  width: 170px;
  padding: 0 40px !important;
}

div.vertical-line{
  width: 1px; /* Line width */
  background-color: white; /* Line color */
  // height: 100%; /* Override in-line if you want specific height. */
  float: left; /* Causes the line to float to left of content.
        You can instead use position:absolute or display:inline-block
        if this fits better with your design */
  margin-left: 20px;
  margin-top: 3px;
}

.header-items{
  margin-left: 30px;
  cursor: pointer;
}
.header-item{
  font-size: 18px;
  font-weight: 200;
  padding: 15px;
}
.header-item:hover{
  // color: rgba(63,146,178,1);
  background: black;
 // border-bottom: 4px solid #224893;

}
.active-menu-item {
  //  background-color: black;
  // color: rgba(63,146,178,1);
  border-bottom: 4px solid #224893;
}

.menu-titles{
  margin: 10px 0 0 30px;
}

::ng-deep.mat-menu-panel {
  min-width: 220px !important;
}

::ng-deep.mat-menu-item{
  width: 250px;
}


::ng-deep.mat-menu-item:hover{
  background:  #f1f1f1 !important;
}

.header-link{
  color: white;
  font-weight: 200;
  font-size: 18px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 12px;
  display: inline-block;
  width: 100px;
  text-align: center;
}

.header-link:hover{
  background: black;
}

.header-links{
  display:inline;
  height:50px;
  margin:10px;
  position: relative;
  float: right
}



/* SEARCH */
#search-icon {
  left: 10px;
  position: relative;
  color: var(--dark-gray);
}

.search-and-buttons{
  transition: all 1s;
}

#operations-filter {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  height: 40px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 5px 35px 12px -25px;
  font-weight: 200;
}

.list-group-item{
  color: black;
  text-align: left;
}

.list-group-item:hover{
  cursor: pointer;
  background: lightgray;
}
