<div class="dialog-header">
  <h2 class="dialog-title">Add Review</h2>
  <mat-icon (click)="closeDialog()" class="close-dialog-icon">clear</mat-icon>
</div>
<form>
  <div class="input-group">
    <div>
      <label class="field-label" for="other-details-client">Review</label>
    </div>
    <div>
      <textarea class="form-control" disabled id="other-details-client">{{reviewText}}</textarea>
    </div>
  </div>
  <mat-dialog-actions class="cancel-save-buttons">
    <button (click)="closeDialog()"
            class="base-button"
            id="cancel-button">
      Cancel
    </button>
    <button (click)="addReview()"
            class="base-button"
            id="save-button"
            type="button">
      Save
    </button>
  </mat-dialog-actions>
</form>
